ul {
  list-style: circle;
  padding-left: 40px;
}

ol {
  list-style: decimal;
  padding-left: 40px;
}


.styled1 li {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.png") 0 50% no-repeat;
  list-style-type: none;
  padding-left: 14px;
}


.styled2 li {
  list-style: square outside;
}


.styled3 li {
  display: inline-block;
  margin: 10px;
}

.styled4 li {
  float: left;
  margin: 0 20px;
}

.navigation {
  clear: both;
}

.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}

.navigation a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
