img {
  height: 200px;
  width: 200px;
  display: block;
}

.img2 img {
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: right;
  margin: 8px 0 0 20px;
  padding: 4px;
  width: 200px;
}

video {
  height: 400px;
}
