<!DOCTYPE html>
<html>
  <head>
    <title>How Bad?</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form action="/" enctype="multipart/form-data" method="post">
      <textarea name="sendText" id="sendText" cols="30" rows="10"></textarea>
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
