<nav class="d-flex flex-row-reverse"> 
    <button class="btn backToList"><a class="blue" href="/todos/taskList">Back to lists</a></button>
    <button class="btn btn-primary"><a href="/logout">Logout</a></button>
</nav>