<nav class="d-flex flex-row-reverse"> 
    <button class="btn btn-white"><a class="blue" href="/login">Log in</a></button>
    <button class="btn btn-primary"><a class="white" href="/signup">Sign up</a></button>
</nav>